
#main-admin {
    
    border: solid 2px dodgerblue;
}

#menu-admin {
  
    border: solid 2px green;
}

#header-admin {

    border: solid 2px red;
}

#footer-admin {

    border: solid 2px darkorange;
}